name: example_app
description: "llm_llamacpp Flutter test app for Android and iOS"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  llm_llamacpp:
    path: ../
  llm_core:
    path: ../../llm_core
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
